{% extends "app1/padre.html" %}

{% load static %}

{% block titulo%}
    Busqueda
{% endblock %}

{% block tituloprin%}
    Está buscando: {{busqueda2}}


{% endblock %}

{% block descripcion%}
    {% for aspirantes in aspirante %}
        <DIV ALIGN="left">
            <ul>
                <li>Nombre: {{aspirantes.nombre}}</li>
                <li>Edad: {{aspirantes.edad}}</li>
                <li>Ingreso: {{aspirantes.ingreso}}</li>
            </ul>
        </DIV>
    {%endfor%}
{% endblock %}

